html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f9fb;
  color: #333;
}

header {
  background-color: #003366;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
}

.kpi-container {
  display: flex;
  margin: 1rem;
  gap: 1rem;
  justify-content: center;
}

.kpi-card {
  background-color: #e6f0ff;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  width: 100%;
}

.kpi-cart-type {
  display: block;
  font-size: 2.2rem;
  color: #555;
  font-weight: bold;
}

.kpi-card.green {
  background-color: #d1f7d6;
}
.kpi-card.red {
  background-color: #ffd6d6;
}
.kpi-card.orange {
  background-color: #fff1cc;
}

.chart-section {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

canvas {
  width: 100% !important;
  height: auto !important;
  display: block;
}

.chart {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.small {
  width: 10%;
}

.chart h3 {
  font-size: 2rem;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #003366;
  color: white;
  margin-top: 2rem;
}
